@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Lab Rock Paper Scissor</h1>
    @if (!string.IsNullOrEmpty(ViewBag.Winner))
    {
        <h2>Winner: @ViewBag.Winner </h2>
    }
</div>

@using (Html.BeginForm("Index", "Home"))
{
    <div class="row">        
        <input type="text" value='[[[["Armando", "P"],["Dave", "S"]],[["Richard", "R"],["Michael", "S"]],],[[["Allen", "S"],["Omer", "P"]],[["David E.", "R"],["Richard X.", "P"]]]]' style="width:400px; height:200px" name="array" />        
        <input type="submit" value="Enviar"  class="btn-default"/>
    </div>
}
