@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Lab Rock Paper Scissor</h1>
    @if (!string.IsNullOrEmpty(ViewBag.Winner))
    {
        <h2>Winner: @ViewBag.Winner </h2>
    }
</div>

<div class="row">
    <h1>Tournament Samples</h1>
    <div class="col-md-4">
        <p>
            [<br />
            &nbsp;&nbsp; [<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; [<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; [&quot;Armando&quot;, &quot;P&quot;],[&quot;Dave&quot;, &quot;S&quot;]<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ],<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; [<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; [&quot;Richard&quot;, &quot;R&quot;],[&quot;Michael&quot;, &quot;S&quot;]<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ],<br />
            &nbsp;&nbsp; ],<br />
            &nbsp;&nbsp; [<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; [<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; [&quot;Allen&quot;, &quot;S&quot;],[&quot;Omer&quot;, &quot;P&quot;]<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ],<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; [<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; [&quot;David E.&quot;, &quot;R&quot;],[&quot;Richard X.&quot;, &quot;P&quot;]<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ]<br />
            &nbsp;&nbsp; ]<br />
            ]
        </p>
    </div>
    <div class="col-md-4">        
        <p>
            [<br />
            &nbsp;&nbsp; &nbsp;[<br />
            &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;[<br />
            &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;[<br />
            &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;[<br />
            &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;[&quot;Link&quot;, &quot;P&quot;],[&quot;Ganon&quot;, &quot;R&quot;]<br />
            &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;],<br />
            &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;[<br />
            &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;[&quot;Cloud&quot;, &quot;R&quot;],[&quot;Sephiroth&quot;, &quot;S&quot;]<br />
            &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;]<br />
            &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;],<br />
            &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;[<br />
            &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;[<br />
            &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;[&quot;Batman&quot;, &quot;P&quot;],[&quot;Jocker&quot;, &quot;R&quot;]<br />
            &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;],<br />
            &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;[<br />
            &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;[&quot;Luke&quot;, &quot;S&quot;],[&quot;Vader&quot;, &quot;P&quot;]<br />
            &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;]<br />
            &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;]<br />
            &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;],<br />
            &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;[<br />
            &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;[<br />
            &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;[&quot;Armando&quot;, &quot;R&quot;],[&quot;Dave&quot;, &quot;S&quot;]<br />
            &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;],<br />
            &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;[<br />
            &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;[&quot;Richard&quot;, &quot;R&quot;],[&quot;Michael&quot;, &quot;P&quot;]<br />
            &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;]<br />
            &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;]<br />
            &nbsp;&nbsp; &nbsp;],<br />
            &nbsp;&nbsp; &nbsp;[<br />
            &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;[<br />
            &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;[&quot;Allen&quot;, &quot;R&quot;],[&quot;Omer&quot;, &quot;P&quot;]<br />
            &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;],<br />
            &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;[<br />
            &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;[&quot;David E.&quot;, &quot;R&quot;],[&quot;Richard X.&quot;, &quot;S&quot;]<br />
            &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;]<br />
            &nbsp;&nbsp; &nbsp;]<br />
            ]
        </p>      
    </div>
    <div class="col-md-4">
        <p>
            [<br />
            &nbsp;&nbsp; [<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; [<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; [<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; [<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; [&quot;Link&quot;, &quot;P&quot;],[&quot;Ganon&quot;, &quot;R&quot;]<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ],<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; [<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; [&quot;Batman&quot;, &quot;R&quot;],[&quot;Joker&quot;, &quot;S&quot;]<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ]<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ],<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; [<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; [<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; [&quot;Cloud&quot;, &quot;R&quot;],[&quot;Sephiroth&quot;, &quot;S&quot;]<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ],<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; [<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; [&quot;Luke&quot;, &quot;S&quot;],[&quot;Vader&quot;, &quot;P&quot;]<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ]<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ]<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ],<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; [<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; [<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; [&quot;Armando&quot;, &quot;P&quot;],[&quot;Dave&quot;, &quot;S&quot;]<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ],<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; [<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; [&quot;Richard&quot;, &quot;R&quot;],[&quot;Michael&quot;, &quot;S&quot;]<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ]<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ]<br />
            &nbsp;&nbsp; ],<br />
            &nbsp;&nbsp; [<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; [<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; [&quot;Allen&quot;, &quot;S&quot;],[&quot;Omer&quot;, &quot;P&quot;]<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ],<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; [<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; [&quot;David E.&quot;, &quot;R&quot;],[&quot;Richard X.&quot;, &quot;S&quot;]<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ]<br />
            &nbsp;&nbsp; ]<br />
            ]
        </p>
    </div>
</div>


@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <h4>Encoded array</h4>
        <hr />
        <div class="form-group">
            <textarea class="form-control" rows="20" name="array" required style="min-width: 100%"></textarea>
        </div>
        <div class="form-group">
            <input type="submit" value="Run" class="btn btn-default" />
        </div>
    </div>
}